@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 262 67% 95%;
    --foreground: 261 20% 20%;
    --card: 0 0% 100%;
    --card-foreground: 261 20% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 261 20% 20%;
    --primary: 261 51% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 50% 90%;
    --secondary-foreground: 261 20% 20%;
    --muted: 262 50% 90%;
    --muted-foreground: 261 20% 40%;
    --accent: 231 98% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 85%;
    --input: 0 0% 100%;
    --ring: 231 98% 62%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --score-good: 142 71% 45%;
    --score-ok: 45 93% 47%;
    --score-bad: 0 84% 60%;
  }
  .dark {
    --background: 261 20% 10%;
    --foreground: 262 67% 95%;
    --card: 261 20% 15%;
    --card-foreground: 262 67% 95%;
    --popover: 261 20% 15%;
    --popover-foreground: 262 67% 95%;
    --primary: 261 51% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 261 20% 25%;
    --secondary-foreground: 262 67% 95%;
    --muted: 261 20% 25%;
    --muted-foreground: 262 20% 70%;
    --accent: 231 98% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 20% 25%;
    --input: 261 20% 25%;
    --ring: 231 98% 62%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --score-good: 142 71% 55%;
    --score-ok: 45 93% 57%;
    --score-bad: 0 72% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
